configurations-auto-updater
test-environment/*/*.tfvars
test-environment/*/.terraform.lock.hcl
test-environment/*/.terraform/
test-environment/*/terraform.tfstate
test-environment/*/terraform.tfstate.backup
test-environment/updater/downloads/
test-environment/etcd-server/certs/