configs.json
certs/
configurations/
configurations-auto-updater
notification_command.sh
timestamp
test-environment/*/local.tfvars
test-environment/*/.terraform.lock.hcl
test-environment/*/.terraform/
test-environment/*/terraform.tfstate
test-environment/updater/downloads/